* {
  border-radius: 10px;
}
.card {
  background: pink;
  padding: 50px;
  h1 {
    color: white;
  }

  img {
    width: 350px;
  }

  button {
    border: transparent;
    padding: 20px 50px;
  }
}
